<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login - UpliftIQ</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>
<a href="/" class="home-arrow">⬅</a>

<div class="auth-container">

  <!-- LEFT SIDE -->
  <div class="auth-left">
    <div class="brand">
      <h1>📧 UpliftIQ</h1>
      <p>Email Campaign Optimization</p>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="auth-right">

    <div class="auth-box">

      <h2>Welcome Back </h2>
      <p class="subtitle">Login to continue</p>

      <form method="POST">

        <div class="input-group">
          <label>Username</label>
          <input name="username" placeholder="Enter your username" required>
        </div>

        <div class="input-group">
          <label>Password</label>
          <input type="password" name="password" placeholder="Enter your password" required>
        </div>

        <button>Login</button>

      </form>

      <p class="auth-footer">
        Don’t have an account?
        <a href="/signup">Create account</a>
      </p>

    </div>

  </div>

</div>

</body>
</html>